.react-datepicker__input-container {
    border-color: hsl(0, 0%, 80%);
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
}
.react-datepicker__input-container > input {
    width: inherit !important;
}
 .react-datepicker__calendar-icon {
    position: absolute;
    padding: 0.05em !important;
    top: 8px !important;
    left: 4px !important;
}

.react-datepicker-wrapper {
    width: 100% !important;
    display: inline-block;
    padding: 0;
    border: 0;
}
.react-datepicker-ignore-onclickoutside {    
    width: 100% !important;
}