.cardStyle{
    border: 1px solid #008B8B;
    border-radius: 5px;
}

.thumbnailInfo{
    background-color: white;
    padding-bottom: 20px;
    box-shadow: 0 4px 9px -4px #B2BEB5;
    border-radius: 5px;
}

.lunchTitleImage{
    margin-left: 10px;
}